<timezone>US/Eastern</timezone>
<hostname>{{ hostname }}</hostname>
<domain>placebo-pharma.local</domain>
<geo-location>
  <latitude>41.650758</latitude>
  <longitude>-71.259164</longitude>
</geo-location>
<login-banner>Placebo Pharam Inc.</login-banner>
<server-verification>no</server-verification>