<users>
  <entry name="admin">
    <phash>$5$piudibhc$w/0HuVGiGoYd6TiVgrq4r2e4mWnuasjYv9aRcY8bu.0</phash>
    <permissions>
      <role-based>
        <superuser>yes</superuser>
      </role-based>
    </permissions>
    <public-key>c3NoLXJzYSBBQUFBQjNOemFDMXljMkVBQUFBREFRQUJBQUFCZ1FDVTZRYmVjZUFxK09nQWk1UTlNV3BiTHdVcDFwVEdQc3RuQVN0U2c3a1pycENkK2pDMldlTTJ1VURVa040RTNGYi9qTFNJZXF4b0pIV2RzUHpqTVBMSjBuTTJkL3JxeG50L3dmMmNPUkZaTGlsM0tFeExLWk40MURTWnJFa29vZnUyN0tCeWNnN3BsRm1kYUx2SnNaSG4wU2JSKzBFVld1S3NBQm5YWWd1endJUVZYdXc0SG0vZjlYdTF4Sm8yZ1lYS1ZTRWpKQjI2SGRFZytveDNpUUxIWitWSG5MVFpVeUlSQzZCZHVYaXR1ZXdKZFo1bWN6a3hIVWp0WlR1WGR4L1NiRmhrcHRRb0lNWWc1d2lBOHVreDI4bDVzMFo5dnFCNWNSZ2o2WUsyeXJLMjE0dzczMDFwZGsrQ2pyaC80YXFDYzNjSnN6SzhyZis5SGNrYlU1T1dxMEt0VGlVQTFMcDZEZDBxM1BaVlFNekM5dFdvM1ZyaUZ5emM4SjEzSnNjMGV5MHIwRUozVW1UeU5RQ1dQbHNKNjZjZFVlTFNZenZSdWZHRm9yUXoxRENnTndXRUZwUml6RzY1QmJHKzZNWG1QczdzVDRwV1RMQ0h5OGUvdlVJSE9QN2FWT3hibFhKcXlnWFpyY1pHN3FWOXJYbjdYN2I3SFVYK0lRQ2FLMnM9IGJsYWNrLXRlYW0K</public-key>
  </entry>
  <entry name="malou.poulsen">
    <permissions>
      <role-based>
        <superuser>yes</superuser>
      </role-based>
    </permissions>
    <description>CTO</description>
    <phash>$5$bbeptnld$7/RHDv7DN/h7kJg/5rcZLIMiXCZ400D77grBWqxO.H2</phash>
  </entry>
  <entry name="romain.bourgeois">
    <permissions>
      <role-based>
        <superuser>yes</superuser>
      </role-based>
    </permissions>
    <description>IT Manager</description>
    <phash>$5$bukqmfjh$H1/acOGJnHgQBDj78kdWAjyVCuLdiMmbRB6JGfAPwkD</phash>
  </entry>
  <entry name="ariadna.pasko">
    <permissions>
      <role-based>
        <custom>
          <profile>auditadmin</profile>
        </custom>
      </role-based>
    </permissions>
    <description>Database Engineer</description>
    <phash>$5$mkfmhaui$oM92ASDFFCqSbfZmnvkCsmeqoG3aKUxxLLbeuT3S885</phash>
  </entry>
  <entry name="benjamin.white">
    <permissions>
      <role-based>
        <superuser>yes</superuser>
      </role-based>
    </permissions>
    <description>Network Administrator</description>
    <phash>$5$pttbnvlr$AReOWZ8o.uren32PAWo/glWqyNpq8vf4RN7LrAOVXC5</phash>
  </entry>
  <entry name="kubra.yildizoglu">
    <permissions>
      <role-based>
        <superuser>yes</superuser>
      </role-based>
    </permissions>
    <description>Network Administrator</description>
    <phash>$5$doewqpwp$boFOOKTkW4.Q7dXMUafi7VUWir1ZEQsV2mu5HIl7E02</phash>
  </entry>
  <entry name="marcel.brunet">
    <permissions>
      <role-based>
        <deviceadmin/>
      </role-based>
    </permissions>
    <description>System Administrator</description>
    <phash>$5$kyrkuaeu$Oig0p3EixRi/2L9/fJopW4MDIHeZGBeMhxaxb9i7pk4</phash>
  </entry>
  <entry name="gary.reynolds">
    <permissions>
      <role-based>
        <deviceadmin/>
      </role-based>
    </permissions>
    <description>System Administrator</description>
    <phash>$5$fmuehepw$YkoFIVCd0Oak.KopPlu1Lne6fL6OADOejDxIVNqOG7B</phash>
  </entry>
  <entry name="alejandro.aguilar">
    <permissions>
      <role-based>
        <deviceadmin/>
      </role-based>
    </permissions>
    <description>System Administrator</description>
    <phash>$5$enswqhdb$B2E8xtHAyHDM98B98HkbspwtD0AhcySkNqRzN/ajLx/</phash>
  </entry>
  <entry name="matthew.carr">
    <permissions>
      <role-based>
        <custom>
          <profile>securityadmin</profile>
        </custom>
      </role-based>
    </permissions>
    <description>Security Engineer</description>
    <phash>$5$shvuoquq$NrlHVZqxn9Dv7MF2SFJccre7osdWO.Pi0WLLo0S4RVD</phash>
  </entry>
  <entry name="duilio.da.mota">
    <permissions>
      <role-based>
        <custom>
          <profile>securityadmin</profile>
        </custom>
      </role-based>
    </permissions>
    <description>SOC Analyst</description>
    <phash>$5$thhuluxi$cY2V1.8KUWh32RAcs0B/x2ghJ33WYmte.fNMNUh/Db9</phash>
  </entry>
  <entry name="bianca.armas">
    <permissions>
      <role-based>
        <custom>
          <profile>securityadmin</profile>
        </custom>
      </role-based>
    </permissions>
    <description>Operations Security</description>
    <phash>$5$xlakdsmv$yvBudglQaP.nRytwT5zxkL14z1AjrR1dUUR0bIEC8D.</phash>
  </entry>
  <entry name="josefina.renaud">
    <permissions>
      <role-based>
        <deviceadmin/>
      </role-based>
    </permissions>
    <description>System Administrator</description>
    <phash>$5$ojlkquwh$DI9.9Sn3jqS6pvaIrd65TMy6/emQJAZDsscJLhjzan1</phash>
  </entry>
  <entry name="evie.li">
    <permissions>
      <role-based>
        <superuser>yes</superuser>
      </role-based>
    </permissions>
    <description>Network Administrator</description>
    <phash>$5$gwntdhxh$kW28jkAuLR8dMih8ToA3GGD6fDt3oHTXbXk.Op5Nx15</phash>
  </entry>
  <entry name="nanna.andersen">
    <permissions>
      <role-based>
        <superuser>yes</superuser>
      </role-based>
    </permissions>
    <description>Support</description>
    <phash>$5$dflnmuah$tivQHmrZP3URCgvmlxJ9awn1tQWzWIZ7ljSDXU/WD69</phash>
  </entry>
  <entry name="black-team">
    <permissions>
      <role-based>
        <superuser>yes</superuser>
      </role-based>
    </permissions>
    <description>DO NOT TOUCH</description>
    <phash>$5$vhomljhs$KEYSYqrk0fu/VML1NhDZzE4l0UOvYRbOpNj4OyM8JO0</phash>
    <public-key>c3NoLXJzYSBBQUFBQjNOemFDMXljMkVBQUFBREFRQUJBQUFCZ1FDVTZRYmVjZUFxK09nQWk1UTlNV3BiTHdVcDFwVEdQc3RuQVN0U2c3a1pycENkK2pDMldlTTJ1VURVa040RTNGYi9qTFNJZXF4b0pIV2RzUHpqTVBMSjBuTTJkL3JxeG50L3dmMmNPUkZaTGlsM0tFeExLWk40MURTWnJFa29vZnUyN0tCeWNnN3BsRm1kYUx2SnNaSG4wU2JSKzBFVld1S3NBQm5YWWd1endJUVZYdXc0SG0vZjlYdTF4Sm8yZ1lYS1ZTRWpKQjI2SGRFZytveDNpUUxIWitWSG5MVFpVeUlSQzZCZHVYaXR1ZXdKZFo1bWN6a3hIVWp0WlR1WGR4L1NiRmhrcHRRb0lNWWc1d2lBOHVreDI4bDVzMFo5dnFCNWNSZ2o2WUsyeXJLMjE0dzczMDFwZGsrQ2pyaC80YXFDYzNjSnN6SzhyZis5SGNrYlU1T1dxMEt0VGlVQTFMcDZEZDBxM1BaVlFNekM5dFdvM1ZyaUZ5emM4SjEzSnNjMGV5MHIwRUozVW1UeU5RQ1dQbHNKNjZjZFVlTFNZenZSdWZHRm9yUXoxRENnTndXRUZwUml6RzY1QmJHKzZNWG1QczdzVDRwV1RMQ0h5OGUvdlVJSE9QN2FWT3hibFhKcXlnWFpyY1pHN3FWOXJYbjdYN2I3SFVYK0lRQ2FLMnM9IGJsYWNrLXRlYW0K</public-key>
  </entry>
</users>