#jinja2: trim_blocks:False
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ cm_name }}-grafana-dashboard
  namespace: monitoring
  labels:
    grafana_dashboard: '1'
binaryData:
  {{ service_uid }}.json: {{ dashboard_json_content }}
