fields_under_root: true
fields.collector_node_id: ${sidecar.nodeName}
fields.gl2_source_collector: ${sidecar.nodeId}

output.logstash:
  hosts: ["${user.graylog_host}:5044"]

path:
  data: ${sidecar.spoolDir!"/var/lib/graylog-sidecar/collectors/filebeat"}/data
  logs: ${sidecar.spoolDir!"/var/lib/graylog-sidecar/collectors/filebeat"}/log

filebeat.inputs:

- type: filestream
  id: linux-login-filestream
  enabled: true
  paths:
    - /var/log/auth.log
    - /var/log/secure
  multiline:
    pattern: '^\\s'
    negate: false
    match: after
  fields:
    event_source_product: linux_login
    log_type: authentication

- type: filestream
  id: bash-history-filestream
  enabled: true
  paths:
    - /home/*/.bash_history
    - /root/.bash_history
    - /home/*/.zsh_history
  fields:
    event_source_product: bash_history
    log_type: command_history    
